.mat-card {
    &.table-card {
        padding: 15px 0;

        & > .mat-card-header {
            padding: 0 15px 0 15px;

            .mat-card-header-text {
                align-self: center;
            }
        }
    }

    &.info-card {
        padding: 15px 0;

        & > .mat-card-header {
            padding: 0 15px 0 15px;

            .mat-card-header-text {
                align-self: center;
            }
        }

        &.mat-card-content {
            padding: 0 15px 0 15px;
        }
    }
}
.mat-card-header{
    border-bottom:0;
    height:auto;
}
.mat-form-field{
    width:100%;
}
